.card-container {
  position: relative;
  top: 130px;
  padding: 5vh;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  
}

.background-video {
  position: fixed;
  z-index: -1;
}