.details-view {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.author, .details-source {
  margin: 0
}

.text-box {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.details-date {
  margin: 0;
}

.back-button {
  margin-bottom: 20px;
  filter: invert(100%);
  opacity: 0.5;
  height: 50px;
  width: 50px;
}

.back-button:hover {
  opacity: 1;
  cursor: pointer;
}

.backLink {
  width: 50px;
}